In [1]:
import pandas as pd

In [2]:
def first_clean(df):
    """takes the original dataframe and does some initial cleaning of 
    DivisionName
    then maps the current code_dict to the division codes and prints the rows where no match is made"""
    
    df.DivisionName = df.DivisionName.str.strip()
    
    #need to make sure that the amount column at the end is an int/float and not a string
    try:
        df.Amount = df.Amount.str.replace(',', '')
    except AttributeError as detail:
        print('exception occurred, amount is probably not strings:', detail)
        pass
        
    df['DIVISIONCODE'] = df['DivisionName'].map(code_dict)
    
    #these are the rows where the divisionnames don't match the values from 2015
    print(df[df.DIVISIONCODE.isnull()])
    
    return df

In [3]:
def second_clean(df, code_dict):    
    df['DIVISIONCODE'] = df['DivisionName'].map(code_dict)
    df = df.sort_values(by='DIVISIONCODE')
    return df

### Cleaning process

mostly taken into account by first and second clean functions]

In [4]:
"""
df20xx = pd.read_csv('20x-gross_operating-vX.csv', skiprows=10)#, names=['DivisionName', 'Amount'])
df20xx.DivisionName = df20x.DivisionName.str.strip()
df20xx.Amount = df20xx.Amount.str.replace(',', '')
#need to make sure that the amount column at the end is an int/float and not a string
df20xx['DIVISIONCODE'] = df20xx['DivisionName'].map(code_dict)
df20xx
these are the rows where the divisionnames don't match the values from 2015
df20xx[df20xx.DIVISIONCODE.isnull()]
new_codes_20xx = {'3-1-1 Customer Service Strategy': '311SERVICE',
                  'Waterfront Secretariat': 'WATERFRONT',
                  'Facilities & Real Estate': 'FACILITIES',
                  }
code_dict.update(new_codes_20xx)
df20xx['DIVISIONCODE'] = df20xx['DivisionName'].map(code_dict)
df20xx = df20xx.sort_values(by='DIVISIONCODE')
df20xx.to_csv('20xx-gross_operating-v2.csv')
"""

"\ndf20xx = pd.read_csv('20x-gross_operating-vX.csv', skiprows=10)#, names=['DivisionName', 'Amount'])\ndf20xx.DivisionName = df20x.DivisionName.str.strip()\ndf20xx.Amount = df20xx.Amount.str.replace(',', '')\n#need to make sure that the amount column at the end is an int/float and not a string\ndf20xx['DIVISIONCODE'] = df20xx['DivisionName'].map(code_dict)\ndf20xx\nthese are the rows where the divisionnames don't match the values from 2015\ndf20xx[df20xx.DIVISIONCODE.isnull()]\nnew_codes_20xx = {'3-1-1 Customer Service Strategy': '311SERVICE',\n                  'Waterfront Secretariat': 'WATERFRONT',\n                  'Facilities & Real Estate': 'FACILITIES',\n                  }\ncode_dict.update(new_codes_20xx)\ndf20xx['DIVISIONCODE'] = df20xx['DivisionName'].map(code_dict)\ndf20xx = df20xx.sort_values(by='DIVISIONCODE')\ndf20xx.to_csv('20xx-gross_operating-v2.csv')\n"

In [5]:
df2015 = pd.read_csv('2015-gross_operating-v1.csv', skiprows=10)

In [6]:
#create a code_dict with keys as DivisionName and values as DIVISIONCODE, using the pairs from 2015 
code_dict = {'311 Toronto': '311SERVICE',
             'Affordable Housing Office': 'AFFHOUSING',
             'Arena Boards of Management': 'ARENAS',
             'Association of Community Centres': 'COMMCENTRES',
             "Auditor General's Office": 'AUDITGEN',
             'Capital & Corporate Financing': 'CORPFINANCING',
             "Children's Services": 'CHILDSERV',
             "City Clerk's Office": 'CLERK',
             'City Council': 'COUNCIL',
             "City Manager's Office": 'CITYMANAGER',
             'City Planning': 'PLANNING',
             'Court Services': 'COURTSERV',
             'Economic Development & Culture': 'ECONDEV',
             'Engineering & Construction Services': 'ENGINEERING',
             'Exhibition Place': 'EXHIBPLACE',
             'Facilities, Real Estate, Environment & Energy': 'FACILITIES',
             'Fire Services': 'FIRE',
             'Fleet Services': 'FLEET',
             'Heritage Toronto': 'HERITAGE',
             'Information & Technology': 'IT',
             "Integrity Commissioner's Office": 'INTEGRITYCOMM',
             'Legal Services': 'LEGAL',
             'Local Appeal Body': 'LOCALAPPEAL',
             'Long Term Care Homes & Services': 'LONGTERMHOME',
             "Mayor's Office": 'MAYOR',
             'Municipal Licensing & Standards': 'LICENCING',
             'Non-Program Expenditures': 'CORPEXPENDITURES',
             'Non-Program Revenues': 'CORPREVENUES',
             'Office of the Chief Financial Officer': 'CFO',
             'Office of the Lobbyist Registrar': 'LOBBYREG',
             'Office of the Ombudsman': 'OMBUDSMAN',
             'Office of the Treasurer': 'TREASURER',
             'Parks, Forestry & Recreation': 'PARKS',
             'Policy, Planning, Finance & Administration': 'POLICYADMIN',
             'Shelter, Support & Housing Administration': 'SHELTERADMIN',
             'Social Development, Finance & Administration': 'SOCIALDEV',
             'Solid Waste Management Services': 'SOLIDWASTE',
             'Theatres': 'THEATRES',
             'Toronto & Region Conservation Authority': 'REGIONCONSERV',
             'Toronto Buildings': 'BUILDINGS',
             'Toronto Employment & Social Services': 'SOCIALSERV',
             'Toronto Paramedic Services': 'PARAMEDIC',
             'Toronto Parking Authority': 'PARKING',
             'Toronto Police Service': 'POLICE',
             'Toronto Police Services Board': 'POLICEBOARD',
             'Toronto Public Health': 'PUBLICHEALTH',
             'Toronto Public Library': 'LIBRARY',
             'Toronto Transit Commission - Conventional': 'TTCCONV',
             'Toronto Transit Commission - Wheel Trans': 'TTCWHEEL',
             'Toronto Water': 'WATER',
             'Toronto Zoo': 'ZOO',
             'Transportation Services': 'TRANSPORTATION',
             'Yonge-Dundas Square': 'YONGEDUNDAS'}

In [7]:
df2015 = first_clean(df2015)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
Empty DataFrame
Columns: [DIVISIONCODE, DivisionName, Amount, RollIntoCode, Note, AlternateSource]
Index: []

In [8]:
df2015[df2015.DIVISIONCODE.isnull()]

Empty DataFrame
Columns: [DIVISIONCODE, DivisionName, Amount, RollIntoCode, Note, AlternateSource]
Index: []

In [9]:
df2015 = second_clean(df2015, code_dict)

In [11]:
#df2015.to_csv('2015-gross_operating-v2.csv', index=None)

#Still need to add headers to the v2 file for it to be complete

In [12]:
df2014 = pd.read_csv('2014-gross_operating-v1.csv', skiprows=10)

In [13]:
df2014.head()

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
0,NaN,Affordable Housing Office,2743,NaN,NaN,NaN
1,NaN,Children's Services,420647,NaN,NaN,NaN
2,NaN,Court Services,53814,NaN,NaN,NaN
3,NaN,Economic Development & Culture,71094,NaN,NaN,NaN
4,NaN,Emergency Medical Services,187889,NaN,NaN,NaN

In [14]:
df2014 = first_clean(df2014)
#prints out the list of rows where DIVISIONCODE was not filled in

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                             DivisionName   Amount  \
4           NaN               Emergency Medical Services   187889
7           NaN         Shelter, Support & Housing Admin   644648
8           NaN      Social Development, Finance & Admin    40540
14          NaN        Policy, Planning, Finance & Admin    22226
17          NaN               Toronto Environment Office        0
21          NaN      Facilities Management & Real Estate   186447
28          NaN                           City's Council    22287
42          NaN    Toronto Region Conservation Authority    38906
43          NaN  Toronto Transit Commission-Conventional  1597559

    RollIntoCode  Note  AlternateSource
4            NaN   NaN              NaN
7            NaN   NaN              NaN
8            NaN   NaN              NaN
14           NaN   NaN              NaN
17           NaN   NaN              NaN
21           NaN   NaN              NaN
28           NaN   NaN              NaN
42           NaN   NaN              NaN
43           NaN   NaN              NaN

In [15]:
#returns df with rows where DIVISIONCODE was not filled in
df2014[df2014.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
4,NaN,Emergency Medical Services,187889,NaN,NaN,NaN
7,NaN,"Shelter, Support & Housing Admin",644648,NaN,NaN,NaN
8,NaN,"Social Development, Finance & Admin",40540,NaN,NaN,NaN
14,NaN,"Policy, Planning, Finance & Admin",22226,NaN,NaN,NaN
17,NaN,Toronto Environment Office,0,NaN,NaN,NaN
21,NaN,Facilities Management & Real Estate,186447,NaN,NaN,NaN
28,NaN,City's Council,22287,NaN,NaN,NaN
42,NaN,Toronto Region Conservation Authority,38906,NaN,NaN,NaN
43,NaN,Toronto Transit Commission-Conventional,1597559,NaN,NaN,NaN

In [16]:
code_dict

{'311 Toronto': '311SERVICE',
 'Affordable Housing Office': 'AFFHOUSING',
 'Arena Boards of Management': 'ARENAS',
 'Association of Community Centres': 'COMMCENTRES',
 "Auditor General's Office": 'AUDITGEN',
 'Capital & Corporate Financing': 'CORPFINANCING',
 "Children's Services": 'CHILDSERV',
 "City Clerk's Office": 'CLERK',
 'City Council': 'COUNCIL',
 "City Manager's Office": 'CITYMANAGER',
 'City Planning': 'PLANNING',
 'Court Services': 'COURTSERV',
 'Economic Development & Culture': 'ECONDEV',
 'Engineering & Construction Services': 'ENGINEERING',
 'Exhibition Place': 'EXHIBPLACE',
 'Facilities, Real Estate, Environment & Energy': 'FACILITIES',
 'Fire Services': 'FIRE',
 'Fleet Services': 'FLEET',
 'Heritage Toronto': 'HERITAGE',
 'Information & Technology': 'IT',
 "Integrity Commissioner's Office": 'INTEGRITYCOMM',
 'Legal Services': 'LEGAL',
 'Local Appeal Body': 'LOCALAPPEAL',
 'Long Term Care Homes & Services': 'LONGTERMHOME',
 "Mayor's Office": 'MAYOR',
 'Municipal Licensing & Standards': 'LICENCING',
 'Non-Program Expenditures': 'CORPEXPENDITURES',
 'Non-Program Revenues': 'CORPREVENUES',
 'Office of the Chief Financial Officer': 'CFO',
 'Office of the Lobbyist Registrar': 'LOBBYREG',
 'Office of the Ombudsman': 'OMBUDSMAN',
 'Office of the Treasurer': 'TREASURER',
 'Parks, Forestry & Recreation': 'PARKS',
 'Policy, Planning, Finance & Administration': 'POLICYADMIN',
 'Shelter, Support & Housing Administration': 'SHELTERADMIN',
 'Social Development, Finance & Administration': 'SOCIALDEV',
 'Solid Waste Management Services': 'SOLIDWASTE',
 'Theatres': 'THEATRES',
 'Toronto & Region Conservation Authority': 'REGIONCONSERV',
 'Toronto Buildings': 'BUILDINGS',
 'Toronto Employment & Social Services': 'SOCIALSERV',
 'Toronto Paramedic Services': 'PARAMEDIC',
 'Toronto Parking Authority': 'PARKING',
 'Toronto Police Service': 'POLICE',
 'Toronto Police Services Board': 'POLICEBOARD',
 'Toronto Public Health': 'PUBLICHEALTH',
 'Toronto Public Library': 'LIBRARY',
 'Toronto Transit Commission - Conventional': 'TTCCONV',
 'Toronto Transit Commission - Wheel Trans': 'TTCWHEEL',
 'Toronto Water': 'WATER',
 'Toronto Zoo': 'ZOO',
 'Transportation Services': 'TRANSPORTATION',
 'Yonge-Dundas Square': 'YONGEDUNDAS'}

In [17]:
#To do the cleaning in order, it might be best to sequentially get csv in descending order of year, and slowly add 
#each new code into the code_dict (at this point i need to add the new codes for 2014 into the code_dict)

In [18]:
new_codes_2014 = {'Emergency Medical Services': 'EMERG',
                  'Toronto Environment Office': 'ENV'
                 }

miscodes_2014 = {"City's Council": 'COUNCIL',
                 'Facilities Management & Real Estate': 'FACILITIES',
                 'Policy, Planning, Finance & Admin': 'POLICYADMIN',
                 'Shelter, Support & Housing Admin': 'SHELTERADMIN',
                 'Social Development, Finance & Admin': 'SOCIALDEV',
                 'Toronto Region Conservation Authority': 'REGIONCONSERV',
                 'Toronto Transit Commission-Conventional': 'TTCCONV'
                }

code_dict.update(new_codes_2014)
code_dict.update(miscodes_2014)

In [19]:
#this dictionary has keys that equate to the DIVISIONCODE from the new_codes of the year and values for the 
#NextYearCategory
next_year_category_2014 = {'EMERG': 'PARAMEDIC',
                           'ENV': 'FACILITIES'}

In [20]:
df2014['RollIntoCode'] = df2014['DIVISIONCODE'].map(next_year_category_2014)

In [21]:
df2014 = second_clean(df2014, code_dict)

In [23]:
#df2014.to_csv('2014-gross_operating-v2.csv', index=None)

In [24]:
df2013 = pd.read_csv('2013-gross_operating-v1.csv', skiprows=10)

In [25]:
df2013 = first_clean(df2013)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                              DivisionName    Amount  \
15          NaN                        Technical Services   70748.0
16          NaN                          Toronto Building   47090.6
31          NaN                        Lobbyist Registrar    1065.4
44          NaN  Toronto Transit Commission - Wheel-Trans  102369.3

    RollIntoCode  Note AlternateSource
15           NaN   NaN             NaN
16           NaN   NaN             NaN
31           NaN   NaN             NaN
44           NaN   NaN             NaN

In [26]:
df2013[df2013.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
15,NaN,Technical Services,70748.0,NaN,NaN,NaN
16,NaN,Toronto Building,47090.6,NaN,NaN,NaN
31,NaN,Lobbyist Registrar,1065.4,NaN,NaN,NaN
44,NaN,Toronto Transit Commission - Wheel-Trans,102369.3,NaN,NaN,NaN

In [27]:
new_codes_2013 = {'Technical Services': 'TECH'
                  }

miscodes_2013 = {'Toronto Building': 'BUILDING',
                 'Lobbyist Registrar': 'LOBBYREG',
                 'Toronto Transit Commission - Wheel-Trans': 'TTCWHEEL'
                }

code_dict.update(new_codes_2013)
code_dict.update(miscodes_2013)

In [28]:
df2013 = second_clean(df2013, code_dict)

In [29]:
next_year_category_2013 = {'TECH':  'ENGINEERING'}

df2013['RollIntoCode'] = df2013['DIVISIONCODE'].map(next_year_category_2013)

In [30]:
df2013

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
10,311SERVICE,311 Toronto,19025.8,NaN,NaN,NaN
0,AFFHOUSING,Affordable Housing Office,2639.6,NaN,NaN,NaN
40,ARENAS,Arena Boards of Management,7193.6,NaN,NaN,NaN
29,AUDITGEN,Auditor General's Office,4038.1,NaN,NaN,NaN
16,BUILDING,Toronto Building,47090.6,NaN,NaN,NaN
19,CFO,Office of the Chief Financial Officer,15526.4,NaN,NaN,NaN
1,CHILDSERV,Children's Services,401174.0,NaN,NaN,NaN
24,CITYMANAGER,City Manager's Office,50386.2,NaN,NaN,NaN
25,CLERK,City Clerk's Office,46469.5,NaN,NaN,NaN
35,COMMCENTRES,Association of Community Centres,7111.2,NaN,NaN,NaN
48,CORPEXPENDITURES,Non-Program Expenditures,703639.8,NaN,NaN,NaN
47,CORPFINANCING,Capital & Corporate Financing,655019.5,NaN,NaN,NaN
49,CORPREVENUES,Non-Program Revenues,9224.4,NaN,NaN,NaN
28,COUNCIL,City Council,19761.7,NaN,NaN,NaN
2,COURTSERV,Court Services,54790.9,NaN,NaN,NaN
3,ECONDEV,Economic Development & Culture,56705.9,NaN,NaN,NaN
4,EMERG,Emergency Medical Services,179525.2,NaN,NaN,NaN
17,ENV,Toronto Environment Office,4539.2,NaN,NaN,NaN
36,EXHIBPLACE,Exhibition Place,43650.7,NaN,NaN,NaN
21,FACILITIES,Facilities Management & Real Estate,178535.6,NaN,NaN,NaN
12,FIRE,Fire Services,375364.1,NaN,NaN,NaN
22,FLEET,Fleet Services,46340.4,NaN,NaN,NaN
37,HERITAGE,Heritage Toronto,740.1,NaN,NaN,NaN
30,INTEGRITYCOMM,Integrity Commissioner's Office,249.7,NaN,NaN,NaN
23,IT,Information & Technology,105191.3,NaN,NaN,NaN
26,LEGAL,Legal Services,44811.0,NaN,NaN,NaN
34,LIBRARY,Toronto Public Library,180793.9,NaN,NaN,NaN
13,LICENCING,Municipal Licensing & Standards,48413.6,NaN,NaN,NaN
31,LOBBYREG,Lobbyist Registrar,1065.4,NaN,NaN,NaN
5,LONGTERMHOME,Long Term Care Homes & Services,226566.5,NaN,NaN,NaN
27,MAYOR,Mayor's Office,1940.3,NaN,NaN,NaN
32,OMBUDSMAN,Office of the Ombudsman,1570.1,NaN,NaN,NaN
51,PARKING,Toronto Parking Authority,72216.7,NaN,NaN,http://www1.toronto.ca/City%20Of%20Toronto/Str...
6,PARKS,"Parks, Forestry & Recreation",392026.7,NaN,NaN,NaN
11,PLANNING,City Planning,39019.9,NaN,NaN,NaN
45,POLICE,Toronto Police Service,1018876.1,NaN,NaN,NaN
46,POLICEBOARD,Toronto Police Services Board,2751.6,NaN,NaN,NaN
14,POLICYADMIN,"Policy, Planning, Finance & Administration",20859.5,NaN,NaN,NaN
33,PUBLICHEALTH,Toronto Public Health,240462.8,NaN,NaN,NaN
42,REGIONCONSERV,Toronto & Region Conservation Authority,38402.0,NaN,NaN,NaN
7,SHELTERADMIN,"Shelter, Support & Housing Administration",668682.3,NaN,NaN,NaN
8,SOCIALDEV,"Social Development, Finance & Administration",33589.1,NaN,NaN,NaN
9,SOCIALSERV,Toronto Employment & Social Services,1243544.4,NaN,NaN,NaN
50,SOLIDWASTE,Solid Waste Management Services,348747.9,NaN,NaN,http://www1.toronto.ca/City%20Of%20Toronto/Str...
15,TECH,Technical Services,70748.0,ENGINEERING,NaN,NaN
38,THEATRES,Theatres,23589.5,NaN,NaN,NaN
18,TRANSPORTATION,Transportation Services,329511.0,NaN,NaN,NaN
20,TREASURER,Office of the Treasurer,72551.4,NaN,NaN,NaN
43,TTCCONV,Toronto Transit Commission - Conventional,1540948.4,NaN,NaN,NaN
44,TTCWHEEL,Toronto Transit Commission - Wheel-Trans,102369.3,NaN,NaN,NaN
52,WATER,Toronto Water,940797.1,NaN,NaN,http://www1.toronto.ca/City%20Of%20Toronto/Str...
41,YONGEDUNDAS,Yonge-Dundas Square,2069.2,NaN,NaN,NaN
39,ZOO,Toronto Zoo,53565.3,NaN,NaN,NaN

In [31]:
#df2013.to_csv('2013-gross_operating-v2.csv', index=None)

In [32]:
df2012 = pd.read_csv('./2012-gross_operating-v1.csv', skiprows=10)

In [33]:
df2012.head()

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
0,NaN,Affordable Housing Office,2580.7,NaN,NaN,NaN
1,NaN,Children's Services,392491.5,NaN,NaN,NaN
2,NaN,Court Services,52262.3,NaN,NaN,NaN
3,NaN,Economic Development & Culture,33436.0,NaN,NaN,NaN
4,NaN,Emergency Medical Services,169535.5,NaN,NaN,NaN

In [34]:
df2012 = first_clean(df2012)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                                  DivisionName   Amount  \
14          NaN  Policy, Planning, Finance and Administration  22104.0
47          NaN  Community Partnership and Investment Program  47197.1

    RollIntoCode  Note  AlternateSource
14           NaN   NaN              NaN
47           NaN   NaN              NaN

In [35]:
df2012[df2012.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
14,NaN,"Policy, Planning, Finance and Administration",22104.0,NaN,NaN,NaN
47,NaN,Community Partnership and Investment Program,47197.1,NaN,NaN,NaN

In [36]:
new_codes_2012 = {'Community Partnership and Investment Program': 'CPIP'
                  }

miscodes_2012 = {'Policy, Planning, Finance and Administration': 'POLICYADMIN'}

code_dict.update(new_codes_2012)
code_dict.update(miscodes_2012)

In [37]:
df2012 = second_clean(df2012, code_dict)

In [38]:
next_year_category_2012 = {'CPIP': 'CITYMANAGER'}

df2012['RollIntoCode'] = df2012['DIVISIONCODE'].map(next_year_category_2012)

In [39]:
#df2012.to_csv('2012-gross_operating-v2.csv', index=None)

# 2011

In [40]:
df2011 = pd.read_csv('2011-gross_operating-v1.csv', skiprows=10)

In [41]:
df2011.head()

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
0,NaN,Affordable Housing Office,2874.3,NaN,NaN,NaN
1,NaN,Children's Services,387538.4,NaN,NaN,NaN
2,NaN,Court Services,54267.4,NaN,NaN,NaN
3,NaN,Economic Development & Culture,35335.8,NaN,NaN,NaN
4,NaN,Emergency Medical Services,170774.4,NaN,NaN,NaN

In [42]:
df2011 = first_clean(df2011)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                     DivisionName    Amount  RollIntoCode  \
10          NaN  3-1-1 Customer Service Strategy   19138.0           NaN
19          NaN           Waterfront Secretariat    1509.2           NaN
22          NaN         Facilities & Real Estate  169702.5           NaN

    Note  AlternateSource
10   NaN              NaN
19   NaN              NaN
22   NaN              NaN

In [43]:
df2011[df2011.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
10,NaN,3-1-1 Customer Service Strategy,19138.0,NaN,NaN,NaN
19,NaN,Waterfront Secretariat,1509.2,NaN,NaN,NaN
22,NaN,Facilities & Real Estate,169702.5,NaN,NaN,NaN

In [44]:
new_codes_2011 = {'Waterfront Secretariat': 'WATERFRONT',
                  }

miscodes_2011 = {'3-1-1 Customer Service Strategy': '311SERVICE',
                 'Facilities & Real Estate': 'FACILITIES'}

code_dict.update(new_codes_2011)
code_dict.update(miscodes_2011)

In [45]:
df2011 = second_clean(df2011, code_dict)

In [46]:
next_year_category_2011 = {'WATERFRONT': 'CITYMANAGER'}

df2011['RollIntoCode'] = df2011['DIVISIONCODE'].map(next_year_category_2011)

In [47]:
#df2011.to_csv('2011-gross_operating-v2.csv', index=None)

In [48]:
df2010 = pd.read_csv('./2010-gross_operating-v1.csv', skiprows=10)

In [49]:
df2010.head()

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
0,NaN,Affordable Housing Office,3222.6,NaN,NaN,NaN
1,NaN,Children’s Services,378708.3,NaN,NaN,NaN
2,NaN,Court Services,52079.8,NaN,NaN,NaN
3,NaN,Economic Development & Culture,35914.3,NaN,NaN,NaN
4,NaN,Emergency Medical Services,165266.1,NaN,NaN,NaN

In [50]:
df2010 = first_clean(df2010)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                     DivisionName    Amount  RollIntoCode  \
1           NaN              Children’s Services  378708.3           NaN
10          NaN    311 Customer Service Strategy   17499.9           NaN
25          NaN            City Manager’s Office   41754.0           NaN
26          NaN              City Clerk’s Office   60163.7           NaN
28          NaN                   Mayor’s Office    2560.6           NaN
30          NaN         Auditor General’s Office    4283.1           NaN
31          NaN  Integrity Commissioner’s Office     203.9           NaN
52          NaN           Solid Waste Management  319821.4           NaN

    Note  AlternateSource
1    NaN              NaN
10   NaN              NaN
25   NaN              NaN
26   NaN              NaN
28   NaN              NaN
30   NaN              NaN
31   NaN              NaN
52   NaN              NaN

In [51]:
df2010[df2010.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
1,NaN,Children’s Services,378708.3,NaN,NaN,NaN
10,NaN,311 Customer Service Strategy,17499.9,NaN,NaN,NaN
25,NaN,City Manager’s Office,41754.0,NaN,NaN,NaN
26,NaN,City Clerk’s Office,60163.7,NaN,NaN,NaN
28,NaN,Mayor’s Office,2560.6,NaN,NaN,NaN
30,NaN,Auditor General’s Office,4283.1,NaN,NaN,NaN
31,NaN,Integrity Commissioner’s Office,203.9,NaN,NaN,NaN
52,NaN,Solid Waste Management,319821.4,NaN,NaN,NaN

In [52]:
new_codes_2010 = {}

miscodes_2010 = {'Children’s Services': 'CHILDSERV',
                 '311 Customer Service Strategy': '311SERVICE',
                 "City Manager’s Office": 'CITYMANAGER',
                 "City Clerk’s Office": 'CLERK',
                 "Mayor’s Office": 'MAYOR',
                 "Auditor General’s Office": 'AUDITGEN',
                 "Integrity Commissioner’s Office": 'INTEGRITYCOMM',
                 "Solid Waste Management": 'SOLIDWASTE'
                 }

code_dict.update(new_codes_2010)
code_dict.update(miscodes_2010)

In [53]:
df2010 = second_clean(df2010, code_dict)

In [54]:
#df2010.to_csv('2010-gross_operating-v2.csv')

In [55]:
df2009 = pd.read_csv('2009-gross_operating-v1.csv', skiprows=10)

In [56]:
df2009 = first_clean(df2009)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                               DivisionName     Amount  \
3           NaN    Economic Development, Culture & Tourism    36410.8
44          NaN  Toronto Transit Commission – Conventional  1298364.7
45          NaN   Toronto Transit Commission – Wheel-Trans    80169.2

    RollIntoCode  Note  AlternateSource
3            NaN   NaN              NaN
44           NaN   NaN              NaN
45           NaN   NaN              NaN

In [57]:
df2009[df2009.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
3,NaN,"Economic Development, Culture & Tourism",36410.8,NaN,NaN,NaN
44,NaN,Toronto Transit Commission – Conventional,1298364.7,NaN,NaN,NaN
45,NaN,Toronto Transit Commission – Wheel-Trans,80169.2,NaN,NaN,NaN

In [58]:
new_codes_2009 = {}

miscodes_2009 = {'Toronto Transit Commission – Conventional': 'TTCCONV',
                 'Toronto Transit Commission – Wheel-Trans': 'TTCWHEEL',
                 'Economic Development, Culture & Tourism': 'ECONDEV'
                }

code_dict.update(new_codes_2009)
code_dict.update(miscodes_2009)

In [59]:
df2009 = second_clean(df2009, code_dict)

In [62]:
#df2009.to_csv('2009-gross_operating-v2.csv')

In [61]:
df2008 = pd.read_csv('2008-gross_operating-v1.csv', skiprows=10)

In [63]:
df2008 = first_clean(df2008)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                           DivisionName     Amount  \
5           NaN                     Homes for the Aged   206613.3
9           NaN                        Social Services  1059949.5
22          NaN  Pubic Information & Creative Services     4771.7
26          NaN                   City Manager's Offic    39651.5
34          NaN             Office of the Ombudsperson      404.3

    RollIntoCode  Note AlternateSource
5            NaN   NaN             NaN
9            NaN   NaN             NaN
22           NaN   NaN             NaN
26           NaN   NaN             NaN
34           NaN   NaN             NaN

In [64]:
df2008[df2008.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
5,NaN,Homes for the Aged,206613.3,NaN,NaN,NaN
9,NaN,Social Services,1059949.5,NaN,NaN,NaN
22,NaN,Pubic Information & Creative Services,4771.7,NaN,NaN,NaN
26,NaN,City Manager's Offic,39651.5,NaN,NaN,NaN
34,NaN,Office of the Ombudsperson,404.3,NaN,NaN,NaN

In [65]:
new_codes_2008 = {'Homes for the Aged': 'AGEDHOMES',
                  'Pubic Information & Creative Services': 'CREATIVEINFO'
                 }

miscodes_2008 = {'Social Services': 'SOCIALSERV',
                 "City Manager's Offic": 'CITYMANAGER',
                 'Office of the Ombudsperson': 'OMBUDSMAN'
                }

code_dict.update(new_codes_2008)
code_dict.update(miscodes_2008)

In [66]:
df2008 = second_clean(df2008, code_dict)

In [67]:
next_year_category_2008 = {'AGEDHOMES': 'LONGTERMHOME',
                           'CREATIVEINFO': 'IT'}

df2008['RollIntoCode'] = df2008['DIVISIONCODE'].map(next_year_category_2008)

In [68]:
df2008[df2008.DIVISIONCODE.isnull()]

Empty DataFrame
Columns: [DIVISIONCODE, DivisionName, Amount, RollIntoCode, Note, AlternateSource]
Index: []

In [69]:
#df2008.to_csv('2008-gross_operating-v2.csv')

In [70]:
df2007 = pd.read_csv('2007-gross_operating-v1.csv', skiprows=10)

In [71]:
df2007 = first_clean(df2007)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                          DivisionName  Amount  RollIntoCode  \
12          NaN  Clean and Beautiful City Secretariat  1066.3           NaN

    Note  AlternateSource
12   NaN              NaN

In [72]:
df2007[df2007.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
12,NaN,Clean and Beautiful City Secretariat,1066.3,NaN,NaN,NaN

In [73]:
new_codes_2007 = {'Clean and Beautiful City Secretariat': 'BEAUTY'}
code_dict.update(new_codes_2007)

# TODO: Need to determine a roll into category for 'Clean and Beautiful City Secretariat'

In [74]:
next_year_category_2007 = {'BEAUTY': ''
                           }

df2007['RollIntoCode'] = df2007['DIVISIONCODE'].map(next_year_category_2007)

In [75]:
df2007 = second_clean(df2007, code_dict)

In [76]:
#df2007.to_csv('2007-gross_operating-v2.csv', index=None)

In [77]:
df2006 = pd.read_csv('2006-gross_operating-v1.csv', skiprows=10)

In [78]:
df2006 = first_clean(df2006)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                                   DivisionName    Amount  \
3           NaN                                        Culture   15917.8
4           NaN                           Economic Development    9870.5
8           NaN       Shelter Support & Housing Administration  698078.3
9           NaN    Social Development Finance & Administration   32832.8
11          NaN                                        Tourism    8977.5
12          NaN                3-1-1 Project Management Office     615.3
13          NaN                              Economic Recovery       0.0
14          NaN                              Building Services   39276.0
15          NaN                      Business Support Services   10340.7
23          NaN                               Support Services       0.0
25          NaN  Office of the DCM and Chief Financial Officer   16885.7
27          NaN                       Corporate Communications    7189.4
32          NaN                                Human Resources   29644.8
36          NaN                            Office of the Mayor    1888.2
37          NaN                                        Council   18791.1
40          NaN               Association of Community Centers    6008.6
46          NaN                            Yonge/Dundas Square    1072.4

    RollIntoCode  Note  AlternateSource
3            NaN   NaN              NaN
4            NaN   NaN              NaN
8            NaN   NaN              NaN
9            NaN   NaN              NaN
11           NaN   NaN              NaN
12           NaN   NaN              NaN
13           NaN   NaN              NaN
14           NaN   NaN              NaN
15           NaN   NaN              NaN
23           NaN   NaN              NaN
25           NaN   NaN              NaN
27           NaN   NaN              NaN
32           NaN   NaN              NaN
36           NaN   NaN              NaN
37           NaN   NaN              NaN
40           NaN   NaN              NaN
46           NaN   NaN              NaN

In [79]:
df2006[df2006.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
3,NaN,Culture,15917.8,NaN,NaN,NaN
4,NaN,Economic Development,9870.5,NaN,NaN,NaN
8,NaN,Shelter Support & Housing Administration,698078.3,NaN,NaN,NaN
9,NaN,Social Development Finance & Administration,32832.8,NaN,NaN,NaN
11,NaN,Tourism,8977.5,NaN,NaN,NaN
12,NaN,3-1-1 Project Management Office,615.3,NaN,NaN,NaN
13,NaN,Economic Recovery,0.0,NaN,NaN,NaN
14,NaN,Building Services,39276.0,NaN,NaN,NaN
15,NaN,Business Support Services,10340.7,NaN,NaN,NaN
23,NaN,Support Services,0.0,NaN,NaN,NaN
25,NaN,Office of the DCM and Chief Financial Officer,16885.7,NaN,NaN,NaN
27,NaN,Corporate Communications,7189.4,NaN,NaN,NaN
32,NaN,Human Resources,29644.8,NaN,NaN,NaN
36,NaN,Office of the Mayor,1888.2,NaN,NaN,NaN
37,NaN,Council,18791.1,NaN,NaN,NaN
40,NaN,Association of Community Centers,6008.6,NaN,NaN,NaN
46,NaN,Yonge/Dundas Square,1072.4,NaN,NaN,NaN

In [80]:
new_codes_2006 = {'Culture': 'CULTURE',
                  'Tourism': 'TOURISM',
                  'Economic Recovery': 'ECONRECOV',
                  'Business Support Services': 'BIZSUPPORT',
                  'Support Services': 'SUPPORTSERV',
                  'Corporate Communications':'CORPCOMMS',
                  'Human Resources': 'HUMANRESOURCES',
                  }

miscodes_2006 = {'Economic Development': 'ECONDEV',
                 '3-1-1 Project Management Office': '311SERVICE',
                 'Shelter Support & Housing Administration': 'SHELTERADMIN',
                 'Office of the DCM and Chief Financial Officer': 'CFO', #this might need to be split and rolled into CFO later
                 'Social Development Finance & Administration': 'SOCIALDEV',
                 'Building Services': 'BUILDINGS',
                 'Office of the Mayor': 'MAYOR',
                 'Council': 'COUNCIL',
                 'Association of Community Centers': 'COMMCENTRES',
                 'Yonge/Dundas Square': 'YONGEDUNDAS'
                 }

code_dict.update(new_codes_2006)
code_dict.update(miscodes_2006)

In [81]:
df2006 = second_clean(df2006, code_dict)


# TODO: Still need to find a roll into category for corporate communications here:

In [82]:
next_year_category_2006 = {'CULTURE': 'ECONDEV',
                           'TOURISM': 'ECONDEV',
                           'ECONOMICRECOV': '',
                           'BIZSUPPORT': 'ECONDEV',
                           'SUPPORTSERV': 'ENGINEERING',
                           'CORPCOMMS': '',
                           'HUMANRESOURCES': 'CITYMANAGER'
                           }

df2006['RollIntoCode'] = df2006['DIVISIONCODE'].map(next_year_category_2006)

In [85]:
#df2006.to_csv('2006-gross_operating-v2.csv', index=None)

In [86]:
df2005 = pd.read_csv('2005-gross_operating-v1.csv', skiprows=10)

In [89]:
df2005 = first_clean(df2005)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                                       DivisionName    Amount  \
2           NaN                         Shelter, Housing & Support  674132.4
3           NaN                Social Development & Administration   18508.0
7           NaN                          Emergency Management Plan       NaN
10          NaN                             WES - Support Services   35726.8
11          NaN                           WES - Technical Services   55384.9
13          NaN                        Customer & Business Support   19935.2
16          NaN                                 Parks & Recreation  248203.7
18          NaN                         Urban Development Services  101454.5
26          NaN                                              Legal   25630.4
27          NaN                   Service Improvement & Innovation    7317.7
28          NaN                                            Finance   68359.9
30          NaN                       Chief Administrator's Office    5836.7
33          NaN                                      3-1-1 Project     503.1
40          NaN                               Toronto Police Board    1278.1
48          NaN  Corporate Accounts Community Partnership and I...   44078.2
50          NaN                     Total Non-Program Expenditures  436080.4
51          NaN                         Total Non-Program Revenues       NaN
52          NaN                                  Parking Authority   54281.8

    RollIntoCode                                               Note  \
2            NaN                                                NaN
3            NaN                                                NaN
7            NaN                                                NaN
10           NaN                                                NaN
11           NaN                                                NaN
13           NaN                                                NaN
16           NaN                                                NaN
18           NaN                                                NaN
26           NaN                                                NaN
27           NaN                                                NaN
28           NaN                                                NaN
30           NaN                                                NaN
33           NaN                                                NaN
40           NaN                                                NaN
48           NaN                                                NaN
50           NaN                                                NaN
51           NaN                                                NaN
52           NaN  Parking Authority's net revenue is distributed...

    AlternateSource
2               NaN
3               NaN
7               NaN
10              NaN
11              NaN
13              NaN
16              NaN
18              NaN
26              NaN
27              NaN
28              NaN
30              NaN
33              NaN
40              NaN
48              NaN
50              NaN
51              NaN
52              NaN

In [90]:
df2005[df2005.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
2,NaN,"Shelter, Housing & Support",674132.4,NaN,NaN,NaN
3,NaN,Social Development & Administration,18508.0,NaN,NaN,NaN
7,NaN,Emergency Management Plan,NaN,NaN,NaN,NaN
10,NaN,WES - Support Services,35726.8,NaN,NaN,NaN
11,NaN,WES - Technical Services,55384.9,NaN,NaN,NaN
13,NaN,Customer & Business Support,19935.2,NaN,NaN,NaN
16,NaN,Parks & Recreation,248203.7,NaN,NaN,NaN
18,NaN,Urban Development Services,101454.5,NaN,NaN,NaN
26,NaN,Legal,25630.4,NaN,NaN,NaN
27,NaN,Service Improvement & Innovation,7317.7,NaN,NaN,NaN
28,NaN,Finance,68359.9,NaN,NaN,NaN
30,NaN,Chief Administrator's Office,5836.7,NaN,NaN,NaN
33,NaN,3-1-1 Project,503.1,NaN,NaN,NaN
40,NaN,Toronto Police Board,1278.1,NaN,NaN,NaN
48,NaN,Corporate Accounts Community Partnership and I...,44078.2,NaN,NaN,NaN
50,NaN,Total Non-Program Expenditures,436080.4,NaN,NaN,NaN
51,NaN,Total Non-Program Revenues,NaN,NaN,NaN,NaN
52,NaN,Parking Authority,54281.8,NaN,Parking Authority's net revenue is distributed...,NaN

In [91]:
new_codes_2005 = {'Emergency Management Plan': 'EMERGPLAN',
                  'Service Improvement & Innovation': 'INNOVATION',
                  'Finance': 'FINANCE',
                  "Chief Administrator's Office": 'CITYMANAGER'                 
                 }

miscodes_2005 = {'Shelter, Housing & Support': 'SHELTERADMIN',
                 'Social Development & Administration': 'SOCIALDEV',
                 'WES - Support Services': 'SUPPORTSERV',
                 'WES - Technical Services': 'TECH',
                 'Customer & Business Support': 'BIZSUPPORT',
                 'Parks & Recreation': 'PARKS',
                 'Urban Development Services': 'PLANNING',
                 'Legal': 'LEGAL',
                 '3-1-1 Project': '311SERVICE',
                 'Toronto Police Board': 'POLICEBOARD',
                 'Corporate Accounts Community Partnership and Investment Program': 'CPIP',
                 'Total Non-Program Expenditures': 'CORPEXPENDITURES',
                 'Total Non-Program Revenues': 'CORPREVENUES',
                 'Parking Authority': 'PARKING'
                 }

In [92]:
code_dict.update(new_codes_2005)
code_dict.update(miscodes_2005)

In [93]:
df2005 = second_clean(df2005, code_dict)

# TODO: Find RollIntoCategory options for the following line items

In [ ]:
next_year_category_2005 = {'EMERGPLAN': '',
                           'INNOVATION': '',
                           'FINANCE': '',
                           'CITYMANAGER': 
                           }

df2005['RollIntoCode'] = df2005['DIVISIONCODE'].map(next_year_category_2005)

In [96]:
#df2005.to_csv('2005-gross_operating-v2.csv', index=None)

In [97]:
df2004 = pd.read_csv('2004-gross_operating-v1.csv', skiprows=10)

In [98]:
df2004 = first_clean(df2004)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                                DivisionName    Amount  \
47          NaN  Community Partnership & Investment Program   42105.2
51          NaN                         Water & Waste Water  555185.5

    RollIntoCode Note  AlternateSource
47           NaN  NaN              NaN
51           NaN  NaN              NaN

In [99]:
df2004[df2004.DIVISIONCODE.isnull()]

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
47,NaN,Community Partnership & Investment Program,42105.2,NaN,NaN,NaN
51,NaN,Water & Waste Water,555185.5,NaN,NaN,NaN

In [100]:
miscodes_2004 = {'Community Partnership & Investment Program': 'CPIP',
                  'Water & Waste Water': 'WATER',
                }

code_dict.update(miscodes_2004)

In [101]:
df2004 = second_clean(df2004, code_dict)

In [115]:
#df2004.to_csv('2004-gross_operating-v2.csv', index=None)

In [105]:
df2003 = pd.read_csv('2003-gross_operating-v1.csv', skiprows=10)

In [106]:
df2003 = first_clean(df2003)

exception occurred, amount is probably not strings: Can only use .str accessor with string values, which use np.object_ dtype in pandas
   DIVISIONCODE                                    DivisionName    Amount  \
16          NaN                                 World Youth Day       0.0
19          NaN                                    City Clerk's   44435.9
29          NaN                                 Auditor General    3003.2
30          NaN              Chief Administrator's Office (CAO)    5625.5
33          NaN                      Keele Valley Closure (KVC)   21425.0
43          NaN  Toronto Transit Commission (Incl. Wheel Trans)  957167.2
44          NaN                  Toronto Police Service & Board  659680.0
45          NaN                      Consolidated Grant Program   39562.7

    RollIntoCode  Note  AlternateSource
16           NaN   NaN              NaN
19           NaN   NaN              NaN
29           NaN   NaN              NaN
30           NaN   NaN              NaN
33           NaN   NaN              NaN
43           NaN   NaN              NaN
44           NaN   NaN              NaN
45           NaN   NaN              NaN

In [112]:
df2003[df2003.DIVISIONCODE.isnull()]

Empty DataFrame
Columns: [DIVISIONCODE, DivisionName, Amount, RollIntoCode, Note, AlternateSource]
Index: []

In [109]:
new_codes_2003 = {'World Youth Day': 'WORLDYOUTH',
                  'Keele Valley Closure (KVC)': 'KVC',
                  'Toronto Transit Commission (Incl. Wheel Trans)': 'TOTALTTC',
                  'Toronto Police Service & Board': 'TOTALPOLICE',
                  'Consolidated Grant Program': 'GRANTPROGRAM'
                  }
miscodes_2003 = {"City Clerk's": 'CLERK',
                 'Auditor General': 'AUDITGEN',
                 "Chief Administrator's Office (CAO)": 'CITYMANAGER'
                }

code_dict.update(new_codes_2003)
code_dict.update(miscodes_2003)

In [110]:
df2003 = second_clean(df2003, code_dict)

# TODO: Find RollIntoCategory options for the following line items

In [111]:
next_year_category_2003 = {'WORLDYOUTH': '',
                           'KVC': '',
                           'TOTALTTC': '',
                           'TOTALPOLICE': '',
                           'GRANTPROGRAM': ''
                           }

df2003['RollIntoCode'] = df2003['DIVISIONCODE'].map(next_year_category_2003)

In [113]:
df2003

,DIVISIONCODE,DivisionName,Amount,RollIntoCode,Note,AlternateSource
1,AGEDHOMES,Homes for the Aged,159418.9,NaN,NaN,NaN
39,ARENAS,Arena Boards of Management,5021.3,NaN,NaN,NaN
29,AUDITGEN,Auditor General,3003.2,NaN,NaN,NaN
13,BIZSUPPORT,Customer & Business Support,19368.9,NaN,NaN,NaN
0,CHILDSERV,Children's Services,299449.8,NaN,NaN,NaN
30,CITYMANAGER,Chief Administrator's Office (CAO),5625.5,NaN,NaN,NaN
19,CLERK,City Clerk's,44435.9,NaN,NaN,NaN
42,COMMCENTRES,Association of Community Centers,4961.8,NaN,NaN,NaN
22,CORPCOMMS,Corporate Communications,6439.6,NaN,NaN,NaN
47,CORPEXPENDITURES,Non-Program Expenditures,236357.3,NaN,NaN,NaN
46,CORPFINANCING,Capital & Corporate Financing,391078.9,NaN,NaN,NaN
31,COUNCIL,Council,17615.7,NaN,NaN,NaN
20,COURTSERV,Court Services,27339.7,NaN,NaN,NaN
12,CULTURE,Culture,12190.4,NaN,NaN,NaN
14,ECONDEV,Economic Development,8314.3,NaN,NaN,NaN
5,EMERG,Emergency Medical Services,114268.1,NaN,NaN,NaN
6,EMERGPLAN,Emergency Management Plan,1854.3,NaN,NaN,NaN
36,EXHIBPLACE,Exhibition Place,40778.3,NaN,NaN,NaN
23,FACILITIES,Facilities & Real Estate,84241.2,NaN,NaN,NaN
28,FINANCE,Finance,68975.3,NaN,NaN,NaN
8,FIRE,Fire Services,278450.0,NaN,NaN,NaN
24,FLEET,Fleet Services,31297.0,NaN,NaN,NaN
45,GRANTPROGRAM,Consolidated Grant Program,39562.7,,NaN,NaN
25,HUMANRESOURCES,Human Resources,26472.7,NaN,NaN,NaN
21,INNOVATION,Service Improvement & Innovation,2654.6,NaN,NaN,NaN
26,IT,Information & Technology,40411.5,NaN,NaN,NaN
33,KVC,Keele Valley Closure (KVC),21425.0,,NaN,NaN
27,LEGAL,Legal,24353.2,NaN,NaN,NaN
35,LIBRARY,Toronto Public Library,134832.7,NaN,NaN,NaN
32,MAYOR,Mayor's Office,1763.7,NaN,NaN,NaN
48,PARKING,Parking Authority,91055.5,NaN,NaN,NaN
15,PARKS,Parks & Recreation,219745.6,NaN,NaN,NaN
18,PLANNING,Urban Development Services,92332.2,NaN,NaN,NaN
34,PUBLICHEALTH,Toronto Public Health,170100.8,NaN,NaN,NaN
41,REGIONCONSERV,Toronto & Region Conservation Authority,23912.5,NaN,NaN,NaN
2,SHELTERADMIN,"Shelter, Housing & Support",638854.6,NaN,NaN,NaN
3,SOCIALDEV,Social Development & Administration,17486.1,NaN,NaN,NaN
4,SOCIALSERV,Social Services,934105.0,NaN,NaN,NaN
7,SOLIDWASTE,Solid Waste Management Services,182689.0,NaN,NaN,NaN
10,SUPPORTSERV,WES - Support Services,33813.9,NaN,NaN,NaN
11,TECH,WES - Technical Services,48132.1,NaN,NaN,NaN
37,THEATRES,Theatres,20502.3,NaN,NaN,NaN
44,TOTALPOLICE,Toronto Police Service & Board,659680.0,,NaN,NaN
43,TOTALTTC,Toronto Transit Commission (Incl. Wheel Trans),957167.2,,NaN,NaN
17,TOURISM,Tourism,12068.1,NaN,NaN,NaN
9,TRANSPORTATION,Transportation Services,242915.8,NaN,NaN,NaN
49,WATER,Water & Waste Water,520142.9,NaN,NaN,NaN
16,WORLDYOUTH,World Youth Day,0.0,,NaN,NaN
40,YONGEDUNDAS,Yonge/Dundas Square,1030.5,NaN,NaN,NaN
38,ZOO,Toronto Zoo,32857.1,NaN,NaN,NaN

In [114]:
#df2003.to_csv('2003-gross_operating-v2.csv', index=None)